html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
	color:#666;
	background-color:#ccc;
	font-family:"Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
}
h1 {
	color:#666;
	font-size:20px;
	font-size:1.25rem;
	text-align:center;
	margin:0;
	padding:0.5rem 0;
}
a {
	color:#0095dd;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2255aa;
	text-decoration:underline;
}
figure {
	max-width:1024px;
	max-width:64rem;
	width:100%;
	height:100%;
	max-height:494px;
	max-height:30.875rem;
	margin:20px auto;
	margin:1.25rem auto;
	padding:20px;
	padding:1.051%;
	background-color:#666;
}
figcaption {
	display:block;
	font-size:12px;
	font-size:0.75rem;
	color:#fff;
}
video {
	width:100%;
}

/* controls */
.controls, .controls > * {
	padding:0;
	margin:0;
}
.controls {
	overflow:hidden;
	background:transparent;
	width:100%;
	height:8.0971659919028340080971659919028%; /* of figure's height */
	position:relative;
	/*background-color: white; background color of the controls div */
}
.controls[data-state=hidden] {
	display:none;
}
.controls[data-state=visible] {
	display:block;
}
.controls > * {
	float:left;
	width:3.90625%;
	height:100%;
	margin-left:0.1953125%;
	display:block;
}
.controls > *:first-child {
	margin-left:0;
}
.controls .progress {
	cursor:pointer;
	width:75.390625%;
}
.controls button {
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  	text-overflow:ellipsis;
  	border:none;
  	cursor:pointer;
  	text-indent:-99999px;
  	background:transparent;
  	background-size:contain;
  	background-repeat:no-repeat;
}
.controls button:hover {
	background-color: #6f00dd;
}
.controls button:focus	 {
	background-color: #00dd7a;
}
.controls button[data-state="play"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 40C8.955 40 0 31.045 0 20C0 8.955 8.955 0 20 0C31.045 0 40 8.955 40 20C40 31.045 31.045 40 20 40ZM15 10.015V29.985L30 20L15 10.015Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="pause"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0ZM11.0278 9.646H17.085V30.354H11.0278V9.646ZM22.915 9.646H28.9722V30.354H22.915V9.646Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="stop"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0ZM10 10H30V30H10V10Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="mute"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.9009 23.1649C38.9678 23.2317 39.0012 23.3104 39.0012 23.4011C39.0012 23.4918 38.9678 23.5706 38.9009 23.6374L36.6812 25.8572C36.6143 25.924 36.5379 25.9574 36.452 25.9574C36.3756 25.9574 36.2945 25.924 36.2086 25.8572L33.0437 22.6923L29.8788 25.8572C29.8119 25.924 29.7355 25.9574 29.6495 25.9574C29.5732 25.9574 29.492 25.924 29.4061 25.8572L27.1864 23.6374C27.129 23.5801 27.1004 23.499 27.1004 23.3939C27.1004 23.2985 27.129 23.2221 27.1864 23.1648L30.3513 19.9999L27.2007 16.835C27.1338 16.7777 27.1004 16.7013 27.1004 16.6058C27.1004 16.5008 27.1338 16.4197 27.2007 16.3624L29.406 14.1426C29.4729 14.0758 29.554 14.0423 29.6495 14.0423C29.745 14.0423 29.8214 14.0758 29.8787 14.1426L33.0436 17.3075L36.2085 14.1426C36.2753 14.0758 36.3541 14.0423 36.4448 14.0423C36.5355 14.0423 36.6142 14.0758 36.681 14.1426L38.9008 16.3624C38.9676 16.4292 39.0011 16.508 39.0011 16.5986C39.0011 16.6893 38.9676 16.768 38.9008 16.8349L35.736 19.9999L38.9009 23.1649V23.1649ZM0.75293 11.6289H10.2375L24.5055 0V40L10.2375 28.3711H0.75293V11.6289V11.6289Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="unmute"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="40" viewBox="0 0 24 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.48455 11.6289H0V28.3711H9.48459L23.7526 40V0L9.48455 11.6289Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="volup"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.40332 11.6288H9.88784L24.1559 0V40L9.88784 28.3711H0.40332V11.6288ZM29.5167 9.73193C32.3208 12.536 33.7504 15.945 33.8054 19.9587C33.8054 23.8075 32.3758 27.1064 29.5167 29.8556L26.6301 26.8865C28.6095 24.9072 29.5992 22.5704 29.5992 19.8763C29.5992 17.1271 28.6095 14.7354 26.6301 12.701L29.5167 9.73193ZM34.4651 4.86596C38.5889 8.98967 40.6507 13.9656 40.6507 19.7938C40.6507 25.622 38.5889 30.6253 34.4651 34.8041L31.4136 31.7525C34.7126 28.5085 36.3621 24.5361 36.3621 19.835C36.3621 15.1341 34.7126 11.134 31.4136 7.83507L34.4651 4.86596ZM39.0013 0.329875C41.5305 2.8591 43.5098 5.80066 44.9394 9.15461C46.3689 12.5086 47.0837 16.0549 47.0837 19.7938C47.0837 23.5326 46.3689 27.0928 44.9394 30.4742C43.5098 33.8557 41.5305 36.8109 39.0013 39.3402L36.0322 36.3711C40.5958 31.8076 42.8776 26.2955 42.8776 19.835C42.8776 13.3746 40.5958 7.86253 36.0322 3.29898L39.0013 0.329875Z" fill="blue" /></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="voldown"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.000976562 11.6289H9.48549L23.7535 0V40L9.48549 28.3711H0.000976562V11.6289V11.6289ZM29.1143 9.73192C31.9185 12.536 33.3481 15.945 33.403 19.9587C33.403 23.8074 31.9735 27.1064 29.1143 29.8556L26.2277 26.8866C28.2071 24.9072 29.1968 22.5704 29.1968 19.8763C29.1968 17.1271 28.2071 14.7354 26.2277 12.701L29.1143 9.73192V9.73192Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="go-fullscreen"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0839844 0V13.7939L4.88868 8.94773L15.9409 20L4.86915 31.0718L0.0839844 26.3281V40H13.8779L9.03172 35.1953L20.084 24.1431L31.1558 35.2148L26.4121 40H40.084V26.2061L35.2793 31.0523L24.2271 20L35.2988 8.92823L40.084 13.6719V0H26.2901L31.1363 4.8047L20.084 15.8569L9.01222 4.78517L13.7559 0H0.0839844Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls button[data-state="cancel-fullscreen"] {
	background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 19V5.89577L14.4355 10.4997L3.93591 1.72572e-06L7.83322e-07 3.93591L10.5182 14.4541L6.01173 19L19 19Z" fill="blue"/><path d="M21 21L21 34.1042L25.5645 29.5003L36.0641 40L40 36.0641L29.4818 25.5459L33.9883 21L21 21Z" fill="blue"/><path d="M21 19L34.1042 19L29.5003 14.4355L40 3.93591L36.0641 0L25.5459 10.5182L21 6.01173L21 19Z" fill="blue"/><path d="M19 21L5.89576 21L10.4997 25.5645L0 36.0641L3.93591 40L14.4541 29.4818L19 33.9883L19 21Z" fill="blue"/></svg>');
	background-size: 75%;
	background-position: center;
}
.controls progress {
	display:block;
	width:100%;
	height:10px;
	margin-top:2px;
	margin-top:0.125rem;
	border:none;
	overflow:hidden;
	color:#0095dd; /* Internet Explorer uses this value as the progress bar's value colour */
}
.controls progress[data-state="fake"] {
	background:#e6e6e6;
	height:65%;
}
.controls progress span {
	width:0%;
	height:100%;
	display:inline-block;
	background-color:#2a84cd;	
}

.controls progress::-moz-progress-bar {
	background-color:#0095dd;
}
/* Chrome requires its own rule for this, otherwise it ignores it */
.controls progress::-webkit-progress-value {
	background-color:#0095dd;
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
video:-webkit-full-screen + .controls progress {
	margin-top:0.5rem;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
	max-height:100%;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}

/* Media Queries */
@media screen and (max-width:1024px) {
	figure {
		padding-left:0;
		padding-right:0;
		height:auto;
	}
	.controls {
		/* we want the buttons to be proportionally bigger, so give their parent a set height */
		height:30px;
		height:1.876rem;
	}
}
@media screen and (max-width:42.5em) {
	.controls {
		height:auto;
	}
	.controls > * {
		display:block;
		width:16.6667%;
		margin-left:0;
		height:40px;
		height:2.5rem;
		margin-top:2.5rem;
	}
	.controls .progress {
		/*display:table-caption;*/ /* this trick doesn't work as elements are floated and the layout doesn't work */
		position:absolute;
		top:0;
		width:100%;
		float:none;
		margin-top:0;
	}
	.controls .progress progress {
		width:98%;
		margin:0 auto;
	}
	.controls button {
		background-position:center center;
	}
	figcaption {
		text-align:center;
		margin-top:0.5rem;
	}
}